*** IPL DATA ANALYSIS ***

### Primary Analysis ###
Batting related questions

In [505]:
import pandas as pd
import numpy as np


batters_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\fact_bating_summary.csv")
match_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\dim_match_summary.csv")
batters_data = pd.merge(batters_data, match_data, on="match_id", how="left")
batters_data["matchDate"] = pd.to_datetime(batters_data["matchDate"])
batters_data['year'] = batters_data["matchDate"].dt.year
# 1. Top 10 batsmen based on past 3 years total runs scored
top_10_batters = batters_data.groupby("batsmanName").sum("runs").sort_values('runs', ascending=False).head(10).reset_index()
top_10_batters = top_10_batters[["batsmanName", "runs"]]
top_10_batters.to_excel(r'./Output.xlsx', sheet_name= 'Top_10_batters(score)')

In [506]:

# Top 10 batsmen based on past 3 years batting average. (min 60 balls faced in each season)
batters_out_data = batters_data.loc[batters_data["out/not_out"] == 'out'].groupby("batsmanName").count().reset_index()[['batsmanName','out/not_out']]
no_of_60balls_season = batters_data.groupby(['year','batsmanName']).sum('balls').loc[batters_data.groupby(['year','batsmanName']).sum('balls')['balls'] > 60].reset_index()[['year','batsmanName','balls']]
filtered = batters_data[batters_data['batsmanName'].isin(no_of_60balls_season['batsmanName'])]
main_df= pd.merge(filtered,batters_out_data,on='batsmanName' , how='left').sort_values(by='batsmanName', ascending=True)
filtered_df = filtered[['batsmanName','runs','balls']].groupby('batsmanName').sum('runs').reset_index().sort_values(by='batsmanName', ascending=True)
out_df = pd.merge(filtered_df,batters_out_data,on='batsmanName' , how='left').sort_values(by='batsmanName', ascending=True)
out_df['batting_avg'] = round(out_df['runs'] / out_df['out/not_out'],2)
out_df.sort_values(by = 'batting_avg', inplace=True, ascending=False)
top_10_batters_avg = out_df[['batsmanName','runs','balls','batting_avg']].head(10)
top_10_batters_avg.to_excel(r'./Output.xlsx', sheet_name= 'Top_10_batters(Avg)')

top_10_batters_avg
# out_df
# out_df.to_excel(r'./Output.xlsx', sheet_name= 'Top_10_batters(Avg)')

        batsmanName  runs  balls  batting_avg
87    SaurabhTiwary   115     97        57.50
39          KLRahul  1516   1148        50.53
16     CameronGreen   452    282        50.22
75       RinkuSingh   648    434        49.85
32  HeinrichKlaasen   448    253        49.78
22      DevonConway   924    654        48.63
82     SaiSudharsan   507    370        46.09
28     FafduPlessis  1831   1300        43.60
18      DavidMiller   864    628        43.20
38       JosButtler  1509   1027        41.92

In [507]:
# Top 10 batsmen based on past 3 years strike rate (min 60 balls faced in each season)
filtered = batters_data[batters_data['batsmanName'].isin(no_of_60balls_season['batsmanName'])]
strikeData = filtered.groupby("batsmanName").sum("runs").reset_index()
strikeData['strikeRate'] = round(((strikeData['runs'] / strikeData['balls']) * 100),2)
Top_10_SR_batsmen = strikeData[['batsmanName','runs','balls','strikeRate']].sort_values(by='strikeRate', ascending=False).head(10)
Top_10_SR_batsmen
Top_10_SR_batsmen.to_excel(r'./Output.xlsx', sheet_name= 'Top_10_batters(SR)')

In [508]:
# Top 5 batsmen based on past 3 years boundary % (fours and sixes).
filtered['boundary'] = filtered['4s'] + filtered['6s']
batters_data1 = filtered.groupby('batsmanName').sum('boundary').reset_index()
batters_data1['boundary%'] = round((batters_data1['boundary'] / batters_data1['balls'])*100,2)
batters_data['boundary%'] = round((batters_data1['boundary'] / batters_data1['balls'])*100,2)
Top_5_boundary_batsmen = batters_data1[['batsmanName', 'runs','balls' ,'4s','6s','boundary', 'boundary%']].sort_values(by='boundary%', ascending=False).fillna(0.00).head(5)
Top_5_boundary_batsmen.to_excel(r'./Output.xlsx', sheet_name= 'Top_10_batters(boundary%)')
Top_5_boundary_batsmen

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13236\1202614441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['boundary'] = filtered['4s'] + filtered['6s']

         batsmanName  runs  balls   4s  6s  boundary  boundary%
71        RashidKhan   304    172   20  24        44      25.58
60          PhilSalt   218    133   24  10        34      25.56
107  YashasviJaiswal  1132    744  142  46       188      25.27
63       PrithviShaw   815    532  102  28       130      24.44
27         EvinLewis   224    149   26  10        36      24.16

In [509]:
# Top 10 bowlers based on past 3 years total wickets taken.
bowlers_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\fact_bowling_summary.csv")
match_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\dim_match_summary.csv")
bowlers_data = pd.merge(bowlers_data, match_data, on="match_id", how="left")
bowlers_data["matchDate"] = pd.to_datetime(bowlers_data["matchDate"])
bowlers_data['year'] = bowlers_data["matchDate"].dt.year
top_10_bowlers = bowlers_data.groupby('bowlerName').sum('wickets').reset_index().sort_values(by='wickets', ascending=False).head(10)[['bowlerName','wickets']]
top_10_bowlers
top_10_bowlers.to_excel(r'./Output.xlsx', sheet_name= 'top_10_bowlers(wickets)')

In [510]:
# Top 10 bowlers based on past 3 years bowling average. (min 60 balls bowled in each season)
bowlers_df = bowlers_data.groupby(['year','bowlerName']).sum('overs').reset_index().groupby('bowlerName').sum('overs').reset_index()
bowlers_df['balls'] =  bowlers_df['overs'] * 6
bowlers_df = bowlers_df[bowlers_df['balls'] > 60]
bowlers_df['average'] = round(bowlers_df['runs']/bowlers_df['wickets'],2)
top_10_bowlers_avg = bowlers_df[['bowlerName','runs','wickets','economy','balls','average']].sort_values(by='average', ascending=True).head(10)
top_10_bowlers_avg.to_excel(r'./Output.xlsx', sheet_name= 'top_10_bowlers(Avg)')
top_10_bowlers_avg

           bowlerName  runs  wickets  economy  balls  average
100          MarkWood   130       11    32.50   96.0    11.82
113       MohitSharma   361       27   111.94  262.2    13.37
7        AkashMadhwal   219       14    66.75  151.8    15.64
105  MichaelBracewell    95        6    47.16   66.0    15.83
30        ChrisWoakes    82        5    22.00   66.0    16.40
106     MitchellMarsh   272       16   109.98  192.6    17.00
114        MohsinKhan   304       17    99.91  258.0    17.88
13       AndreRussell   638       35   318.43  370.8    18.23
44        DwayneBravo   562       30   180.94  403.2    18.73
12         AmitMishra   227       12    79.25  174.0    18.92

In [511]:
# Top 10 bowlers based on past 3 years economy rate. (min 60 balls bowled in each season)
bowlers_df = bowlers_data.groupby(['year','bowlerName']).sum('overs').reset_index().groupby('bowlerName').sum('overs').reset_index()
bowlers_df['balls'] =  bowlers_df['overs'] * 6
bowlers_df = bowlers_df[bowlers_df['balls'] > 60]
bowlers_df['economy'] = round(bowlers_df['runs']/bowlers_df['overs'],2)
top_10_bowlers_economy = bowlers_df[['bowlerName','runs','balls','overs','wickets','economy']].sort_values(by='economy', ascending=True).head(10)
# top_10_bowlers_economy.to_excel(r'./Output.xlsx', sheet_name= 'top_10_bowlers(economy)')
top_10_bowlers_economy

          bowlerName  runs   balls  overs  wickets  economy
173      SunilNarine  1056   960.0  160.0       36     6.60
107  MitchellSantner   211   186.0   31.0        7     6.81
36       DavidWilley   177   156.0   26.0        4     6.81
114       MohsinKhan   304   258.0   43.0       17     7.07
108         MoeenAli   501   424.2   70.7       21     7.09
21         AxarPatel   939   792.0  132.0       30     7.11
162    ShakibAlHasan   187   156.0   26.0        4     7.19
141       RashidKhan  1317  1095.0  182.5       63     7.22
66     JaspritBumrah   793   649.2  108.2       36     7.33
67       JayantYadav   156   126.0   21.0        2     7.43

In [512]:
# Top 5 bowlers based on past 3 years dot ball %.
bowlers_df = bowlers_data.groupby(['year','bowlerName']).sum('overs').reset_index().groupby('bowlerName').sum('overs').reset_index()
bowlers_df['balls'] =  bowlers_df['overs'] * 6
bowlers_df = bowlers_df[bowlers_df['overs'] > 100]
bowlers_df['dot_avg'] = round(bowlers_df['0s'] / bowlers_df['balls'],2) *100
bowlers_df.sort_values(by='dot_avg', ascending=False, inplace=True)
top_5_bowlers_dot = bowlers_df[['bowlerName','runs','overs','wickets','economy','balls','dot_avg']].head(5)
top_5_bowlers_dot.to_excel(r'./Output.xlsx', sheet_name= 'top_5_bowlers(dot)')
top_5_bowlers_dot

         bowlerName  runs  overs  wickets  economy   balls  dot_avg
134  PrasidhKrishna   902  104.6       31   231.52   627.6     48.0
111   MohammedSiraj  1242  153.0       39   365.31   918.0     48.0
110   MohammedShami  1405  178.4       67   372.44  1070.4     48.0
181      TrentBoult  1210  150.8       42   322.53   904.8     47.0
66    JaspritBumrah   793  108.2       36   205.31   649.2     43.0

In [513]:
# Top 4 teams based on past 3 years winning %.
match_summary = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\dim_match_summary.csv")
match_summary["matchDate"] = pd.to_datetime(match_summary["matchDate"])
match_summary['year'] = match_summary["matchDate"].dt.year
# match_summary.groupby(['winner','year']).count().reset_index()
all_teams = list(set(match_summary['team1']).union(set(match_summary['team2'])))
total_matches_played = {}
for team_name in all_teams:
   total_matches_played[team_name] = ((match_summary['team1'] == team_name).sum()) + ((match_summary['team2'] == team_name).sum())
Team = []
matches = []
for i,j in total_matches_played.items():
   Team.append(i)
   matches.append(j)

Match_desc = pd.DataFrame({'Team':Team,'Matches':matches})
match_summary = match_summary.groupby('winner').count().reset_index()[['winner','team1']].sort_values(by='winner', ascending=True).rename(columns={'winner':'Team','team1':'Winning_count'})
Match_desc.sort_values(by='Team', ascending=True,inplace=True)
top_teams = pd.merge(Match_desc, match_summary, on='Team', how='inner')
top_teams['winning_%'] = round(((top_teams['Winning_count'] / top_teams['Matches']) * 100),2)
top_teams.sort_values(by='winning_%', ascending=False, inplace=True)
top_4_teams = top_teams.head(4)
top_4_teams
top_4_teams.to_excel(r'./Output.xlsx', sheet_name= 'top_4_teams(winning%)')

In [514]:
# Top 2 teams with the highest number of wins achieved by chasing targets over the past 3 years
match_summary = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\dim_match_summary.csv")
match_summary["matchDate"] = pd.to_datetime(match_summary["matchDate"])
match_summary['year'] = match_summary["matchDate"].dt.year
match_summary
pattern = r'wic*'
match_summary = match_summary[match_summary['margin'].str.contains(pattern)]
top_2_teams = match_summary[['winner','margin']].groupby('winner').count().sort_values(by='margin',ascending=False).reset_index().head(2)
top_2_teams.to_excel(r'./Output.xlsx', sheet_name= 'top_2_teams(chase)')

### Seconday Analysis ###

In [515]:
players = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\dim_players.csv")
batters = players[players['playingRole'].str.match('|'.join(['Top order batter','Wicketkeeper batter','Opening batter','Middle order batter','batter']), case=False)]
bowlers = players[players['playingRole'].str.match('Bowler', case=False)]
Allrounder = players[players['playingRole'].str.contains(r'Allrounder')]

In [516]:
filtered

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR,team1,team2,winner,margin,matchDate,year,boundary
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51,Super Kings,KKR,Super Kings,27 runs,2021-10-15,2021,4
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76,Super Kings,KKR,Super Kings,27 runs,2021-10-15,2021,10
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66,Super Kings,KKR,Super Kings,27 runs,2021-10-15,2021,3
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00,Super Kings,KKR,Super Kings,27 runs,2021-10-15,2021,5
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60,Super Kings,KKR,Super Kings,27 runs,2021-10-15,2021,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3263,T201566,Super Kings Vs Titans,Titans,3,SaiSudharsan,out,22,17,3,0,129.41,Super Kings,Titans,Titans,5 wickets,2023-03-31,2023,3
3264,T201566,Super Kings Vs Titans,Titans,4,HardikPandya,out,8,11,0,0,72.72,Super Kings,Titans,Titans,5 wickets,2023-03-31,2023,0
3265,T201566,Super Kings Vs Titans,Titans,5,VijayShankar,out,27,21,2,1,128.57,Super Kings,Titans,Titans,5 wickets,2023-03-31,2023,3
3266,T201566,Super Kings Vs Titans,Titans,6,RahulTewatia,not_out,15,14,1,1,107.14,Super Kings,Titans,Titans,5 wickets,2023-03-31,2023,2
3267,T201566,Super Kings Vs Titans,Titans,7,RashidKhan,not_out,10,3,1,1,333.33,Super Kings,Titans,Titans,5 wickets,2023-03-31,2023,2

In [517]:
# 1. Orange and purple cap player
# batters data for orange cup
batters_out_data = batters_data.loc[batters_data["out/not_out"] == 'out'].groupby("batsmanName").count().reset_index()[['batsmanName','out/not_out']]
min_120_balls_season = batters_data.groupby(['year','batsmanName']).sum('balls').loc[batters_data.groupby(['year','batsmanName']).sum('balls')['balls'] > 120].reset_index()[['year','batsmanName','balls']]
filtered = batters_data[batters_data['batsmanName'].isin(min_120_balls_season['batsmanName'])]
filtered['boundary'] = filtered['4s'] + filtered['6s']
main_df= pd.merge(filtered,batters_out_data,on='batsmanName' , how='left').sort_values(by='batsmanName', ascending=True)
filtered_df = filtered[['batsmanName','runs','balls','4s','6s','boundary', 'boundary%']].groupby('batsmanName').sum('runs').reset_index().sort_values(by='batsmanName', ascending=True)
out_df = pd.merge(filtered_df,batters_out_data,on='batsmanName' , how='left').sort_values(by='batsmanName', ascending=True)
out_df['batting_avg'] = round(out_df['runs'] / out_df['out/not_out'],2)
out_df.sort_values(by = 'batting_avg', inplace=True, ascending=False)
filtered_df['strikeRate'] = round(((batters_data1['runs'] / batters_data1['balls']) * 100),2)
batters_data1 = pd.merge(filtered_df[['batsmanName', 'runs','balls' ,'4s','6s','boundary', 'boundary%','strikeRate']],out_df[['batsmanName','batting_avg']], on='batsmanName', how='left').fillna(0.00)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13236\2617478668.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['boundary'] = filtered['4s'] + filtered['6s']

In [518]:
# Orange cup - 2024
#parameters
w1 = 0.4
w2 = 0.3
w3 = 0.2
w4 = 0.1

batters_data1['weighted_runs'] = w1 * batters_data1['runs']
batters_data1['weighted_strikeRate'] = w2 * batters_data1['strikeRate']
batters_data1['weighted_boundary'] = w3 * batters_data1['boundary']
batters_data1['weighted_avg'] = w3 * batters_data1['batting_avg']
batters_data1[['batsmanName','weighted_runs','weighted_boundary','weighted_strikeRate','weighted_avg']].fillna(0.00)
batters_data1['Total weight'] = batters_data1['weighted_runs'] + batters_data1['weighted_strikeRate'] + batters_data1['weighted_boundary'] + batters_data1['weighted_avg']
orange_cup_predict = batters_data1[['batsmanName','weighted_runs','weighted_boundary','weighted_strikeRate','weighted_avg','Total weight']].sort_values(by = 'Total weight', ascending=False).head(3)
orange_cup_predict
orange_cup_predict.to_excel(r'./Output.xlsx', sheet_name= 'orange_cup_predict(top 3)')

In [519]:
#bowlers data for purple cup
min_200_balls_season = bowlers_data.groupby(['year','bowlerName']).sum('overs').loc[bowlers_data.groupby(['year','bowlerName']).sum('overs')['overs'] > 30].reset_index()[['year','bowlerName','overs']]
filtered = bowlers_data[bowlers_data['bowlerName'].isin(min_200_balls_season['bowlerName'])]
filtered['balls'] = filtered['overs'] * 6
filtered_bowler = filtered[['bowlerName','runs','overs','wickets','economy','balls','0s']].groupby('bowlerName').sum('overs').reset_index().sort_values(by='bowlerName', ascending=True)
filtered_bowler['dot_avg'] = round(filtered_bowler['0s'] / filtered_bowler['balls'],2) *100
filtered_bowler['economy'] = round((filtered_bowler['runs']/filtered_bowler['overs']),2)
filtered_bowler['Avg'] = round((filtered_bowler['runs']/filtered_bowler['wickets']),2)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13236\2830201921.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['balls'] = filtered['overs'] * 6

In [520]:
# purple cup - 2024
# parameters
w1 = 0.35
w2 = 0.25
w3 = 0.2
w4 = 0.1

filtered_bowler['weighted_wickets'] = w1 * filtered_bowler['wickets']
filtered_bowler['weighted_economy'] = round(w2 * filtered_bowler['economy'],2)
filtered_bowler['weighted_dot_avg'] = w3 * filtered_bowler['dot_avg']
filtered_bowler['weighted_average'] = round(w4 * filtered_bowler['Avg'],2)
filtered_bowler['Total Weight'] = filtered_bowler['weighted_wickets'] + filtered_bowler['weighted_economy'] + filtered_bowler['weighted_dot_avg'] + filtered_bowler['weighted_average']
purple_cup_predict = filtered_bowler[['bowlerName','weighted_wickets','weighted_economy','weighted_dot_avg','weighted_average','Total Weight']].sort_values(by = 'Total Weight', ascending= False).head(3)
purple_cup_predict
purple_cup_predict.to_excel(r'./Output.xlsx', sheet_name= 'purple_cup_predict(top 3)')

In [521]:
# 2. Top 4 qualifying teams
match_summary = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\dim_match_summary.csv")
match_summary["matchDate"] = pd.to_datetime(match_summary["matchDate"])
match_summary['year'] = match_summary["matchDate"].dt.year
match_data = match_summary.groupby(['winner','year']).count()['margin'].reset_index().groupby('winner').sum('margin').reset_index()[['winner','margin']]
match_data['points'] = match_data['margin'] * 2
top_4_teams = match_data.sort_values(by = 'points', ascending=False).head(4).rename(columns = {'margin':'wins'})
top_4_teams
top_4_teams.to_excel(r'./Output.xlsx', sheet_name= 'top_4_teams')

In [522]:
# Pick your team selecting the Best 11 players based on their positions, 3 years performance data and additional researchplayers = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\dim_players.csv")
batters = players[players['playingRole'].str.match('|'.join(['Top order batter','Wicketkeeper batter','Opening batter','Middle order batter','batter']), case=False)]
bowlers = players[players['playingRole'].str.match('Bowler', case=False)]
Allrounder = players[players['playingRole'].str.contains(r'Allrounder')]

In [523]:
#4 batters
batters_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\fact_bating_summary.csv")
batters = players[players['playingRole'].str.match('|'.join(['Top order batter','Wicketkeeper batter','Opening batter','Middle order batter','batter']), case=False)]
batters_data[['match_id','batsmanName','out/not_out','runs','balls','4s','6s','SR']]
batters.rename(columns = {'name':'batsmanName'},inplace = 'true')
batters_data = batters_data[['batsmanName','runs','balls','4s','6s','SR']][batters_data['batsmanName'].isin(batters['batsmanName'])]
batters_data['boundary'] = batters_data['4s'] + batters_data['6s']
batters_data = batters_data.groupby('batsmanName').agg({'runs':'sum','balls':'sum','boundary':'sum'}).reset_index()
batters_data['SR'] = round((batters_data['runs'] / batters_data['balls'])*100,2)
out_df = pd.merge(batters_data,batters_out_data,on='batsmanName' , how='left').sort_values(by='batsmanName', ascending=True)
out_df['batting_avg'] = round(out_df['runs'] / out_df['out/not_out'],2)
final_batting = pd.merge(batters_data,out_df[['batsmanName','batting_avg']], on ='batsmanName',how = 'outer')

w1 = 0.4
w2 = 0.3
w3 = 0.2
w4 = 0.1

final_batting['weighted_runs'] = w1 * final_batting['runs']
final_batting['weighted_strikeRate'] = w2 * final_batting['SR']
final_batting['weighted_boundary'] = w3 * final_batting['boundary']
final_batting['weighted_avg'] = w3 * final_batting['batting_avg']
final_batting[['batsmanName','weighted_runs','weighted_boundary','weighted_strikeRate','weighted_avg']].fillna(0.00)
final_batting['Total weight'] = final_batting['weighted_runs'] + final_batting['weighted_strikeRate'] + final_batting['weighted_boundary'] + final_batting['weighted_avg']
top_4_batters = final_batting.sort_values(by= 'Total weight', ascending = False).head(4)[['batsmanName','Total weight']]
top_4_batters.rename(columns = {'batsmanName':'Player_Name'},inplace = True)
top_4_batters

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13236\1481578409.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batters.rename(columns = {'name':'batsmanName'},inplace = 'true')

       Player_Name  Total weight
78     ShubmanGill       838.569
23    FafduPlessis       831.575
66  RuturajGaikwad       728.090
32      JosButtler       700.863

In [524]:
# top 4 bowlers
bowlers_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\fact_bowling_summary.csv")
bowlers = players[players['playingRole'].str.match('Bowler', case=False)]
bowlers.rename(columns = {'name':'bowlerName'},inplace = 'true')
bowlers_data = bowlers_data[['bowlerName','overs','runs','wickets','economy','0s']][bowlers_data['bowlerName'].isin(bowlers['bowlerName'])]
bowlers_data = bowlers_data.groupby('bowlerName').agg({'overs':'sum','runs':'sum','wickets':'sum','0s':'sum'}).reset_index()
bowlers_data['economy'] = round(bowlers_data['runs'] / bowlers_data['overs'],2)
bowlers_data['Avg'] = round((bowlers_data['runs']/bowlers_data['wickets']),2)
bowlers_data['dot_avg'] = round(bowlers_data['0s'] / (bowlers_data['overs']*6),2) *100

w1 = 0.35
w2 = 0.25
w3 = 0.2
w4 = 0.1
bowlers_data['weighted_wickets'] = w1 * bowlers_data['wickets']
bowlers_data['weighted_economy'] = round(w2 * bowlers_data['economy'],2)
bowlers_data['weighted_dot_avg'] = w3 * bowlers_data['dot_avg']
bowlers_data['weighted_average'] = round(w4 * bowlers_data['Avg'],2)
bowlers_data['Total Weight'] = bowlers_data['weighted_wickets'] + bowlers_data['weighted_economy'] + bowlers_data['weighted_dot_avg'] + bowlers_data['weighted_average']
bowlers_data.replace([np.inf],0.00, inplace = True)
bowlers_data.sort_values(by = 'Total Weight', ascending= False)
top_4_bowlers = bowlers_data[['bowlerName','Total Weight']].sort_values(by = 'Total Weight', ascending= False).head(4)
top_4_bowlers.rename(columns = {'bowlerName':'Player_Name'},inplace = True)
top_4_bowlers

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13236\2629369290.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlers.rename(columns = {'name':'bowlerName'},inplace = 'true')

         Player_Name  Total Weight
64     MohammedShami         37.12
27      HarshalPatel         34.11
116  YuzvendraChahal         34.04
13         AveshKhan         29.31

In [525]:
# Pick your top 3 all-rounders
batters_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\fact_bating_summary.csv")
batters_data.rename(columns = {'batsmanName':'Player_Name'},inplace = True)
batters_data = batters_data[['Player_Name','runs','balls','4s','6s','SR']]
batters_data = batters_data.groupby('Player_Name').agg({'runs':'sum','balls':'sum','4s':'sum','6s':'sum'}).reset_index()

bowlers_data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\IPL Data Analysis\datasets\fact_bowling_summary.csv")
bowlers_data.rename(columns = {'bowlerName':'Player_Name','runs':'runsGiven'}, inplace = True)
bowlers_data = bowlers_data[['Player_Name','overs','runsGiven','wickets','economy','0s']]
bowlers_data = bowlers_data.groupby('Player_Name').agg({'overs':'sum','runsGiven':'sum','wickets':'sum','0s':'sum'}).reset_index()
bowlers_data['Avg'] = round((bowlers_data['runsGiven']/bowlers_data['wickets']),2)
bowlers_data['dot_avg'] = round(bowlers_data['0s'] / (bowlers_data['overs']*6),2) *100

all_players = pd.merge(batters_data, bowlers_data, on= 'Player_Name', how='outer').fillna(0.00)
all_players.replace([np.inf],0.00, inplace = True)

Allrounder = players[players['playingRole'].str.contains(r'Allrounder')]
Allrounder.rename(columns = {'name':'Player_Name'},inplace = True)
Allrounder = Allrounder[['Player_Name']]

ipl_allrounder = all_players[all_players['Player_Name'].isin(Allrounder['Player_Name'])]
ipl_allrounder = ipl_allrounder.fillna(0.00)
ipl_allrounder['SR'] = round(ipl_allrounder['runs'] / ipl_allrounder['balls'],2)
ipl_allrounder['boundary'] = ipl_allrounder['4s'] + ipl_allrounder['6s']
ipl_allrounder['economy'] = round(ipl_allrounder['runsGiven'] / ipl_allrounder['overs'],2)
ipl_allrounder.fillna(0.00)
#weights
w1 = 0.4
w2 = 0.3
w3 = 0.2
w4 = 0.1
w5 = 0.35
w6 = 0.25
w7 = 0.2
w8 = 0.1

ipl_allrounder['weighted_runs'] = w1 * ipl_allrounder['runs']
ipl_allrounder['weighted_strikeRate'] = w2 * ipl_allrounder['SR']
ipl_allrounder['weighted_boundary'] = w3 * ipl_allrounder['boundary']
# ipl_allrounder[['Player_Name','weighted_runs','weighted_boundary','weighted_strikeRate','weighted_avg']].fillna(0.00)

ipl_allrounder['weighted_wickets'] = w5 * ipl_allrounder['wickets']
ipl_allrounder['weighted_economy'] = round(w6 * ipl_allrounder['economy'],2)
ipl_allrounder['weighted_dot_avg'] = w7 * ipl_allrounder['dot_avg']
ipl_allrounder['weighted_average'] = round(w8 * ipl_allrounder['Avg'],2)

ipl_allrounder['Total_weight'] = round(ipl_allrounder['weighted_runs'] + ipl_allrounder['weighted_strikeRate'] + ipl_allrounder['weighted_boundary']  + ipl_allrounder['weighted_wickets'] + ipl_allrounder['weighted_economy'] + ipl_allrounder['weighted_dot_avg'] + ipl_allrounder['weighted_average'],2)
top_3_allrounders = ipl_allrounder[['Player_Name', 'Total_weight']].sort_values(by = 'Total_weight', ascending= False).head(3)

top_3_allrounders.to_excel(r'./Output.xlsx', sheet_name= 'top_3_allrounders')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13236\3445124672.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Allrounder.rename(columns = {'name':'Player_Name'},inplace = True)

In [526]:
Top_11 = pd.concat([top_4_batters, top_3_allrounders, top_4_bowlers], ignore_index = True)
Top_11 = Top_11[['Player_Name']]
Top_11
Top_11.to_excel(r'./Output.xlsx', sheet_name= 'Playing 11')

In [527]:
dfs = [top_10_batters, top_10_batters_avg, Top_10_SR_batsmen, Top_5_boundary_batsmen, top_10_bowlers, top_10_bowlers_avg, top_10_bowlers_economy, top_5_bowlers_dot, top_4_teams, top_2_teams, orange_cup_predict, purple_cup_predict, top_4_teams,  top_3_allrounders, Top_11]
sheet_names = ['Top_10_batters(score)', 'Top_10_batters(Avg)', 'Top_10_batters(SR)', 'Top_10_batters(boundary%)', 'top_10_bowlers(wickets)', 'top_10_bowlers(Avg)', 'top_10_bowlers(economy)', 'top_5_bowlers(dot)', 'top_4_teams(winning%)', 'top_2_teams(chase)', 'orange_cup_predict(top 3)', 'purple_cup_predict(top 3)', 'top_4_teams2024', 'top_3_allrounders', 'Playing 11']

with pd.ExcelWriter('./Result.xlsx') as writer:
    for df, sheet_name in zip(dfs, sheet_names):
        df.to_excel(writer, sheet_name=sheet_name, index = False)